@page "/users"
@using Xelit3.Playground.BlazorWasm.Client.Components
@using Xelit3.Playground.BlazorWasm.Shared
@inject HttpClient Http

<PageTitle>Users</PageTitle>


<h1>Users</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>Origin</th>
                <th>BirthDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FullName</td>
                    <td>@user.Origin</td>
                    <td>@user.BirthDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-secondary" @onclick="PrevPage" disabled=@prevDisabled>Previous</button>
<button class="btn btn-secondary" @onclick="NextPage" disabled=@nextDisabled>Next</button>
<button class="btn btn-primary" @onclick="AddUser">Add</button>

@if (addingUserOpened)
{
    <UserCreationForm Countries="countries" Close="OnCloseUserCreationForm"></UserCreationForm>
}


@code {

    private int page = 0;
    private int pageSize = 25;    
    private UserDto[]? users;
    private CountryDto[]? countries;
    private bool prevDisabled = true;
    private bool nextDisabled = false;
    private bool addingUserOpened = false;


    protected override async Task OnInitializedAsync()
    {
        await ChangePage(0);
        await LoadCountries();
    }


    private void AddUser()
    {
        //TODO: Open dialog for creating a new user
        ChangeUserCreationFormVisibility();
    }

    private async Task PrevPage() => await ChangePage(-1);

    private async Task NextPage() => await ChangePage(1);

    private async Task ChangePage(int pageDiff)
    {
        page += pageDiff;
        users = await Http.GetFromJsonAsync<UserDto[]>($"user/paginated?page={page}&size={pageSize}");

        prevDisabled = (page == 0);
        nextDisabled = (users?.Count() < pageSize);
    }

    private async Task LoadCountries()
    {
        countries = await Http.GetFromJsonAsync<CountryDto[]>($"country");
    }

    private async Task OnCloseUserCreationForm((bool Success, UserCreationDto? User) args)
    {
        ChangeUserCreationFormVisibility();

        await Http.PostAsJsonAsync<UserCreationDto>($"user", args.User!);

        ChangePage(0);
    }

    private void ChangeUserCreationFormVisibility()
    {
        addingUserOpened = !addingUserOpened;
    }

}
