@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto;
    /* Here we have a max space for the container */
    max-width: 600px; 
    font-size: 3rem;
    line-height: 7rem;
}

h2 {
    padding: 1rem;
    background: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    /* Otherwise, the links are aligned in the left */
    /* list-style-position: inside; */
    list-style-type: none;
}

li {
    border-top: 1px solid #333;
}

li a {
    /* This makes that the element fullfills 100% of the space */
    display: block; 
}

li a, a:visited {
    text-decoration: none;
    color: #333;
}

li a:hover, a:focus {
    background: #333;
    color: whitesmoke;
    cursor: pointer;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}

footer {
    margin-top: 2rem;
}


.menu-1-container {    
    font-size: 2rem;
    background-color: aqua;
}


.menu-1-container p {
    background-color: lightgray;
    width: 50%;
    margin:  100px 50px;
}
/* display: block -> elements stay in its oen line*/
/* display: inline -> elements doesnt create a new line*/
/* display: inline-block -> elements ¿?*/

.menu-1-container ul {
    list-style-type: none;
    text-align: right;
    /* padding-left: 0; */
    padding: 0.5rem;
    background-color: lightgrey;
    margin: 0;
}

.menu-1-container li {
    border-top: none;
    display: inline-block;
    margin-inline: 0.5rem;
}
