/* Universal selector */
* {
    font-family: monospace;
    /* This resets to nothing browser's defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* content-box and border-box */
}

body {
    font-size: 32px;
    border: 3px solid black;
    background-color: papayawhip;
    /* color: rgba(0, 0, 0, 0.5); */
    /* color: rgb(0, 0, 0); */
    /* color: #000000; */
}

/* Example of how to inherit font from the parent element to the given html elements */
button,
input,
textarea,
select {
    font: inherit;
}

h1,
h2 {
    color: blue;
}

p {
    color: purple;
}

/* Avoid using important, can override more than you expect */
/* p {
    color: purple !important;
} */


/* This can be done as well by using an specific class instead */
p span {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}

.units p {
    /* Don't use it since this then doesn't allow to change font size from browser's configuration */
    /* font-size: 32px; */
    /* This will take into consideration the setting configured */
    font-size: 2rem;
}

.units h2 {
    border: 2px dashed red;
    /* This percentage is always relative to the space that the parent takes */
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
    /* vw doesn0t take into consideration the space of a scrollbar when it's required, adding an extra horizontal bar */
}

.boxes h2 {
    /* solid dashed double dotted outset */
    border: 2px double red;
    width: 400px;
    font-size: 3rem;
    /* top left-rigt bottom */
    margin: 1.5em 2em 2em 2em;
    /* top rigt bottom left*/
    margin: 1.5em 2em 2em;
    /* margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: 2em; */
    padding: 1.5rem;
    /* This outline is a border out of the box, you can move it even far, or into with negative offset (outline-offset -10px) */
    outline: 5px solid purple;
}

.circle{
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 2px solid black;
     border-radius: 50px;  /* Half of the with */
    outline: 2px solid red;
    outline-offset: 0.25rem;
}

.typography {
    padding: 25%;
    font-size: 2rem;
    font-family: monospace;
    /* strikethrough */
    /* text-decoration: line-through; */
    /* none, will remove things, like underline. More are capitalize, lowercase, uppercase */
    /* text-decoration: none; */
}

.typography input, button{
    font: inherit;
}

.typography p {
    text-align: justify;
    line-height: 1.5;
}

/* a:visited, a:hover, a:foucs, a:active Put in this order to apply it properly in cascade. Focus and hover can be the same, important for accessibility*/

#links-customization{
    margin-top: 1rem;
}


#links-customization a:visited{
    cursor: pointer;
}

#links-customization a:visited{
    color: rebeccapurple;
}

#links-customization a:hover, a:focus{
    opacity: 0.75;
}