/* Universal selector */
* {
    font-family: monospace;
}

body {
    font-size: 32px;
    border: 3px solid black;
    background-color: papayawhip;
    /* color: rgba(0, 0, 0, 0.5); */
    /* color: rgb(0, 0, 0); */
    /* color: #000000; */
}

/* Example of how to inherit font from the parent element to the given html elements */
button,
input,
textarea,
select {
    font: inherit;
}

h1,
h2 {
    color: blue;
}

p {
    color: purple;
}

/* Avoid using important, can override more than you expect */
/* p {
    color: purple !important;
} */


/* This can be done as well by using an specific class instead */
p span {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}

.units p {
    /* Don't use it since this then doesn't allow to change font size from browser's configuration */
    /* font-size: 32px; */
    /* This will take into consideration the setting configured */
    font-size: 2rem;
}

.units h2{
    border: 2px dashed red;
    /* This percentage is always relative to the space that the parent takes */
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
    /* vw doesn0t take into consideration the space of a scrollbar when it's required, adding an extra horizontal bar */
}
