html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes highlight-yellow {
    50% {
        background-color: yellow;
    }
}

@keyframes highlight-red {
    50% {
        background-color: red;
    }
}

.animate-highlight {
    animation-name: highlight-yellow;
    animation-duration: 2s;
}

.already-clicked {
    animation-name: highlight-red;
    animation-duration: 2s;
}